body {
    background: $principalBG;
}

.videoTienda {
    width: 100%;
    box-shadow: 0px 0px 27px 19px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 0px 27px 19px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 27px 19px rgba(0, 0, 0, 0.48);
}

footer {
    background-color: $footerColor;

    a {
        color: #72f072 !important;

        &:hover {
            color: #72cf72;
            transform: scale(110%);
            transition: all 0.5s;
        }
    }

    p {
        color: $white;
    }
}