@media (max-width: 768px) {
    .wellcome {
        p {
            font-size: 1em;
        }
    }

    .h1 {
        &Logo {
            width: 100px !important;
        }

        font-size: 2em !important;
    }
}

@media (max-width: 375px) {
    .wellcome {
        p {
            font-size: 0.8em;
        }
    }

    .h1 {
        &Logo {
            width: 80px !important;
        }

        font-size: 1.5em !important;
    }
}